/* .SignUp_register__1HOc1 .SignUp_navTabs__1gFTb .SignUp_navLink__1AfC2.SignUp_active__2hscf */
.SignUp_navLink__1AfC2.active{
    width: 100px;
    color: #0062cc !important;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    background-color: #fff;
    padding: 3px 30px !important;
}